page-user-is-booking {
    .background{
        background-image: url(../../assets/imgs/52392_1478584515.jpeg)
    }
    .scroll-content{
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    p{
        color: blue ;
        font-family: cursive;
        font-size: 53px;
        margin-top: 10px;
   
}
}